<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Create a Trail! </h1>

<form method="post" action="/trails/new">

    <h4>Select Which State the Trail is In:</h4>
    <% State.all.each do |state|%>
    <input type="radio" name="trail[state_id]" value="<%= state.id %>"><%= state.name %>
    <% end %>

    <h4>Trail Name:</h4>
    <input type="text" name="trail[name]" required>

    <h4>Trail Info:</h4>
    <p> For the trail info, please add any information that someone who uses a stroller or wheelchair
    would need to know in order to enjoy the trail. Thank you for your contribution! </p>
    <textarea name="trail[info]" rows="5" cols="50"required></textarea><br>

    <h4>Trail Length (in miles):</h4>
    <input type="text" name="trail[distance]" required>

    <h4>Trail Surface(s):</h4>
    <p>Please enter all surface types the trail has separated by commas</p>
    <input type="text" name="trail[surface]" required>
    <br>
    <br>
    <br>
    <input type="submit" value="Create New Trail!">
</form>